In [267]:
# do imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import string 
import nltk 
import warnings
%matplotlib inline

warnings.filterwarnings('ignore')

In [268]:
import pandas as pd
df = pd.read_csv('Climate_Change_Tweets_100000.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df

,Datetime,Tweet Id,Text,Username
0,2022-11-08 23:59:59+00:00,1590132054296956928,@PattiHarris @BloombergDotOrg @USCclimate What...,Sparky28292
1,2022-11-08 23:59:52+00:00,1590132025444696065,⚡️⚡️Sustainable Water and Energy Solutions sup...,SustDev
2,2022-11-08 23:59:47+00:00,1590132002522816512,@rainnwilson @elonmusk Coal and gas power equi...,FreeMan71542585
3,2022-11-08 23:59:45+00:00,1590131996692721665,@TheoFleury14 Someone needs to let these peopl...,play101975
4,2022-11-08 23:59:45+00:00,1590131996323328001,"#California, #Arizona, and #Nevada Democrats: ...",winewatcher
...,...,...,...,...
99996,2022-11-05 20:31:42+00:00,1588992473270919168,@HMcPhersonMP @theJagmeetSingh @CharlieAngusND...,GHabs9
99997,2022-11-05 20:31:40+00:00,1588992465314250752,"Protection Act in September, but of course the...",Loves_Equines
99998,2022-11-05 20:31:26+00:00,1588992407479418880,@elonmusk Elon Musk u buying Twitter is actual...,KilluaBoy4KT
99999,2022-11-05 20:31:19+00:00,1588992375644639233,@Nieuwsuur @rudybouma Wetenschappelijke verant...,Z06Ronald
100000,2022-11-05 20:31:18+00:00,1588992371290955776,"U.S. cities like Denver, CO, continue to be le...",nwcement

In [269]:
df.shape

(100001, 4)

##### Cleaning with REGEX

In [270]:
def clean_string(a):
    
    # remove emoji's
    emoji_pattern = re.compile("["
                           u"\U0001F600-\U0001F64F"  # emoticons
                           u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                           u"\U0001F680-\U0001F6FF"  # transport & map symbols
                           u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                           u"\U00002702-\U000027B0"
                           u"\U000024C2-\U0001F251"
                           "]+", flags=re.UNICODE)
    a = emoji_pattern.sub(r'', a)

    # remove @ symbols and hashtags
    re_list = ['@[A-Za-z0–9_]+', '#']
    combined_re = re.compile( '|'.join( re_list) )
    a = re.sub(combined_re,'',a)

    # remove urls from text
    pattern = re.compile(r'(https?://)?(www\.)?(\w+\.)?(\w+)(\.\w+)(/.+)?')
    a = re.sub(pattern,'',a)
    output = a
    return output

In [243]:
df

,Datetime,Tweet Id,Text,Username
0,2022-11-08 23:59:59+00:00,1590132054296956928,What a waste of free air. Stop with the bul...,Sparky28292
1,2022-11-08 23:59:52+00:00,1590132025444696065,⚡️⚡️Sustainable Water and Energy Solutions sup...,SustDev
2,2022-11-08 23:59:47+00:00,1590132002522816512,@rainnwilson @elonmusk Coal and gas power equi...,FreeMan71542585
3,2022-11-08 23:59:45+00:00,1590131996692721665,@TheoFleury14 Someone needs to let these peopl...,play101975
4,2022-11-08 23:59:45+00:00,1590131996323328001,"#California, #Arizona, and #Nevada Democrats: ...",winewatcher
...,...,...,...,...
99996,2022-11-05 20:31:42+00:00,1588992473270919168,@HMcPhersonMP @theJagmeetSingh @CharlieAngusND...,GHabs9
99997,2022-11-05 20:31:40+00:00,1588992465314250752,"Protection Act in September, but of course the...",Loves_Equines
99998,2022-11-05 20:31:26+00:00,1588992407479418880,@elonmusk Elon Musk u buying Twitter is actual...,KilluaBoy4KT
99999,2022-11-05 20:31:19+00:00,1588992375644639233,@Nieuwsuur @rudybouma Wetenschappelijke verant...,Z06Ronald
100000,2022-11-05 20:31:18+00:00,1588992371290955776,"U.S. cities like Denver, CO, continue to be le...",nwcement

In [256]:
for i in range(5):
    output = df.iloc[i]['Text']
    print(output)
    print('\n')

   What a waste of free air. Stop with the bullshit climate change. There is NO such thing!  It’s a money laundering ploy, plain and simple.


⚡️⚡️Sustainable Water and Energy Solutions supporting Climate Change and Biodiversity Objectives through Innovation and Clean Technologies

Tomorrow ➡️#COP27 Event at #BlueZone #SDGPavilion

Register at: https://t.co/R0626DV2NH

#WaterEnergySolutions #COP27 #SDGPavilion https://t.co/HHAuxL6cUF


@rainnwilson @elonmusk Coal and gas power equipment and factories needed to produce his products and nobody on the right denies climate change.


@TheoFleury14 Someone needs to let these people know the climate changes everyday! Oh and we also had an ice age. The earth has a natural son of warming and cooling, we need to adapt to the earths natural cycle not try and change it! Stop strip mining the planet that will help a lot more


#California, #Arizona, and #Nevada Democrats: You have the power to save Democracy, to save abortion rights, social security, Medicare, fight for climate change. But you must vote! Go to your polling place! Our 3 states are falling behind #Voterizer #VoteBlue

In [271]:
for i in range(100001):
    df['Text'][i] = clean_string(df.iloc[i]['Text'])
    
for i in range(5):
    output = df.iloc[i]['Text']
    print(output)
    print('\n')

   What a waste of free air. Stop with the bullshit climate change. There is NO such thing!  It’s a money laundering ploy, plain and simple.


Sustainable Water and Energy Solutions supporting Climate Change and Biodiversity Objectives through Innovation and Clean Technologies

Tomorrow COP27 Event at BlueZone SDGPavilion

Register at:

WaterEnergySolutions COP27 SDGPavilion


  Coal and gas power equipment and factories needed to produce his products and nobody on the right denies climate change.


14 Someone needs to let these people know the climate changes everyday! Oh and we also had an ice age. The earth has a natural son of warming and cooling, we need to adapt to the earths natural cycle not try and change it! Stop strip mining the planet that will help a lot more


California, Arizona, and Nevada Democrats: You have the power to save Democracy, to save abortion rights, social security, Medicare, fight for climate change. But you must vote! Go to your polling place! Our 3 states are falling behind Voterizer VoteBlue

In [272]:
df

,Datetime,Tweet Id,Text,Username
0,2022-11-08 23:59:59+00:00,1590132054296956928,What a waste of free air. Stop with the bul...,Sparky28292
1,2022-11-08 23:59:52+00:00,1590132025444696065,Sustainable Water and Energy Solutions support...,SustDev
2,2022-11-08 23:59:47+00:00,1590132002522816512,Coal and gas power equipment and factories n...,FreeMan71542585
3,2022-11-08 23:59:45+00:00,1590131996692721665,14 Someone needs to let these people know the ...,play101975
4,2022-11-08 23:59:45+00:00,1590131996323328001,"California, Arizona, and Nevada Democrats: You...",winewatcher
...,...,...,...,...
99996,2022-11-05 20:31:42+00:00,1588992473270919168,You walked? Because you know GhG aND ClIM...,GHabs9
99997,2022-11-05 20:31:40+00:00,1588992465314250752,"Protection Act in September, but of course the...",Loves_Equines
99998,2022-11-05 20:31:26+00:00,1588992407479418880,Elon Musk u buying Twitter is actually a misp...,KilluaBoy4KT
99999,2022-11-05 20:31:19+00:00,1588992375644639233,Wetenschappelijke verantwoording:\n\n/\n\nPe...,Z06Ronald
100000,2022-11-05 20:31:18+00:00,1588992371290955776,". cities like Denver, CO, continue to be leadi...",nwcement

In [273]:
df.to_csv(r'C:\Users\maxma\Downloads\CS\NLP\100kTweetsCleaned.csv')