In [18]:
import pandas as pd
df = pd.read_csv('Climate_Change_Tweets_100000.csv')
df = df.drop(['Unnamed: 0'], axis=1)
df

,Datetime,Tweet Id,Text,Username
0,2022-11-08 23:59:59+00:00,1590132054296956928,@PattiHarris @BloombergDotOrg @USCclimate What...,Sparky28292
1,2022-11-08 23:59:52+00:00,1590132025444696065,⚡️⚡️Sustainable Water and Energy Solutions sup...,SustDev
2,2022-11-08 23:59:47+00:00,1590132002522816512,@rainnwilson @elonmusk Coal and gas power equi...,FreeMan71542585
3,2022-11-08 23:59:45+00:00,1590131996692721665,@TheoFleury14 Someone needs to let these peopl...,play101975
4,2022-11-08 23:59:45+00:00,1590131996323328001,"#California, #Arizona, and #Nevada Democrats: ...",winewatcher
...,...,...,...,...
99996,2022-11-05 20:31:42+00:00,1588992473270919168,@HMcPhersonMP @theJagmeetSingh @CharlieAngusND...,GHabs9
99997,2022-11-05 20:31:40+00:00,1588992465314250752,"Protection Act in September, but of course the...",Loves_Equines
99998,2022-11-05 20:31:26+00:00,1588992407479418880,@elonmusk Elon Musk u buying Twitter is actual...,KilluaBoy4KT
99999,2022-11-05 20:31:19+00:00,1588992375644639233,@Nieuwsuur @rudybouma Wetenschappelijke verant...,Z06Ronald
100000,2022-11-05 20:31:18+00:00,1588992371290955776,"U.S. cities like Denver, CO, continue to be le...",nwcement

In [19]:
# do imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import re 
import string 
import nltk 
import warnings
%matplotlib inline

warnings.filterwarnings('ignore')